[2014-09-25 09:45] alexthewilde opened #1 "Error "Invalid workspace: no facets found" for slc loopback:swagger generator"
I've installed the latest strongloop version and would like to try out the swagger generator by running

[code]

and I get this error message

[code]

any idea how to fix this?

[2014-09-29 11:37] #1 closed, assigned to nobody

[2015-04-16 05:05] OwenBrotherwood opened #3 "swagger api between or from loopback remoting metadata"
Utilities to transform between Swagger API specs and LoopBack remoting metadata.

The word "between" indicates a two way operation, or is it only from swagger to loopback.

I have to read the code to find out what is true, but a "between" use case is nice.

[2015-04-16 07:04] OwenBrotherwood commented on #3
I have "discovered" that the raw output of the <site>/explorer is a swagger :: but version 1.2
I google a bit more to find out if it is possible to force version 2.0

[2015-04-21 10:50] bajtos commented on #3
@OwenBrotherwood you are correct, loopback-swagger converts from Swagger to remoting metadata, while loopback-explorer provides Swagger metadata built from remoting metadata.

Swagger 2.0 support is tracked by this GH issue: https://github.com/strongloop/loopback-explorer/issues/54

[2015-04-21 10:50] #3 closed

[2015-09-05 20:22] remkohdev opened #7 "Loopback-swagger throws Error: Invalid/unsupported swagger spec"
I believed this worked for me once, a few days ago, but now I cannot figure out the problem following this demo
https://github.com/strongloop/generator-loopback/tree/master/swagger

[rdeknik@oc7465160355 swagger-demo]$ node -v
v0.12.7

[rdeknik@oc7465160355 bluemix]$ slc loopback

     _-----_
    |       |    .--------------------------.
    |--(o)--|    |  Let's create a LoopBack |
   `---------

[2015-09-07 18:07] bajtos commented on #7
@raymondfeng you are the author of the generator, could you PTAL?

[2015-09-12 03:34] remkohdev commented on #7
it works for the simple petstore, but not the full petstore, btw
https://raw.githubusercontent.com/wordnik/swagger-spec/master/examples/v2.0/json/petstore-simple.json

[2015-09-12 03:41] remkohdev commented on #7
![screenshot_error_2ndtime_simplepetstore](https://cloud.githubusercontent.com/assets/1062709/9829709/84df86ba-58de-11e5-9e1c-bdf60e0f8167.png)
The simple petstore also fails when I try to overwrite a previous run. See image, which is the error running the same simple petstore from a clean swagger-demo simple petstore twice in a row

[2015-09-12 03:54] remkohdev commented on #7
Sorry I am blind, it only takes json, not yaml. it works with the json. apologees.

[2015-09-12 03:54] #7 closed

[2015-10-11 12:57] arno-di-loreto opened #10 "Reference to parameters not supported when generating model from swagger 2.0 json definition"
When generating a model based on a Swagger 2.0 json definition containing parameters reference (with _slc loopback:swagger_, there's an error when running _slc run ._.
This error is due the lack of resourceId attribute which is not handled correctly when defined via a parameters reference.
There is no problem with the same API definition when parameters are defined inline.

Steps in project direct

[2015-11-04 09:03] mastersingh24 opened #14 "Model generator does resolve 'allOf' schema references correctly"
This works:

[code]

but if you use the standard '#/definitions/NewPet' rather than 'NewPet'

[code]

then the model(s) are incorrectly generated.

[2015-11-12 15:02] barocsi opened #18 "Fail gracefully when a model property definition is incomplete"
I have reinstalled all node_modules, changed to loopback-component-explorer 2.1.1 and right after starting the app with node . it throws an error

[code]

[2015-11-12 16:49] bajtos commented on #18
@barocsi thank you for the bug report. Could you please provide us with a small app that we can run to reproduce the issue locally on our machines? See [wiki instructions](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report) for more details.

[2015-11-12 16:54] barocsi commented on #18
Willy try, meanwhile still trying to identify the root...since I have deleted node_modules directory and invoked npm install some other issues arise such as https://github.com/strongloop/loopback-datasource-juggler/issues/613#issuecomment-156140395

[2015-11-12 19:18] barocsi commented on #18
It turned out after debugging loopback-sandbox\node_modules\loopback-swagger\lib\specgen\schema-builder.js that I had a missing type property from a model.json config file. Unfortunately I do not have implications whether It was caused by the complete reinstall of my node_modules and upgrade of certain modules, but the solution is working.

[code]

[2015-11-13 09:14] bajtos commented on #18
Thank you @barocsi for identifying the problem! I am reopening this issue, we should fail gracefully in when the property definition is incomplete and provide a helpful error message, ideally mentioning both model and property names.

[2015-11-13 09:15] bajtos commented on #18
Alternatively, we can do the same as LoopBack runtime does. I'd expect the property is treated as if it has type `any`, but that need to be verified first.

[2015-12-04 17:45] epaezrubio commented on #18
How about using `ldlDef[key]` or `ldlDef.hasOwnProperty(key)` to avoid the exception?

[2015-12-21 22:52] 0candy commented on #14
@mastersingh24  Is this issue waiting for PR https://github.com/strongloop/loopback-swagger/pull/19 to be merged?

[2015-12-22 00:11] mastersingh24 commented on #14
@0candy yes - #19 .

[2016-01-05 09:16] #14 closed

[2016-01-07 21:35] 0candy commented on #10
Could you please provide the json file that you had trouble with?

[2016-01-08 17:04] 0candy commented on #18
@barocsi
Is there a reason why type was nested?

      "type": {
        "type": "number /// this line was missing",
        "required": true
      }

and not like this?
    "questionIndex": {
        "type": "number"
        "required": true
      }

[2016-01-09 11:34] arno-di-loreto commented on #10
As I've declared this a long time ago, I've just tested it again with a fresh loopback installation. The bug is still here.
[code]
Here's the JSON file.
[code]

[2016-01-20 16:35] #18 closed

[2016-02-03 05:53] hideya opened #25 "Refinement for operationId?"
While trying out `slc loopback:export-api-def` and [swagger codegen](https://github.com/swagger-api/swagger-codegen) to generate client side SDKs, I noticed that swagger codegen uses `operationId` as the name for the generated method on the client side.

Currently, `operationId` sometimes becomes like `User.prototype.__findById__accessTokens`.  Then, the swagger.io generated Objective-C method for

[2016-02-03 06:02] hideya opened #26 "Inconsistency between id's type in method argument and model property?"
While trying out `slc loopback:export-api-def` and [swagger codegen](https://github.com/swagger-api/swagger-codegen) to generate client side SDKs, I noticed that attributes for `id` property of models is like:
[code]
whereas `id` argument for method invocations looks like the following:
[code]
This `id`'s type inconsistency between `number` and `string` results in the same inconsistency in the gen

[2016-02-05 01:13] hideya commented on #25
Closing this as this should be filed against https://github.com/strongloop/generator-loopback

[2016-02-05 01:13] #25 closed

[2016-02-05 01:14] hideya commented on #26
Closing this as this should have been filed against https://github.com/strongloop/generator-loopback

[2016-02-05 01:14] #26 closed

[2016-02-05 09:05] bajtos commented on #26
https://github.com/strongloop/loopback/issues/2042

[2016-02-05 09:06] bajtos commented on #25
https://github.com/strongloop/loopback/issues/2041

[2016-02-05 10:30] bajtos opened #27 "Describe response objects generated from "returns" by strong-remoting"
https://github.com/strongloop/loopback-swagger/blob/6d13c8c75978e88ed31c0921765f0b6959f36fdb/lib/specgen/route-helper.js#L104-L111

A good example of such method is `PersistedModel.count`, as described in https://github.com/strongloop/loopback/issues/2043.

[code]

Server response:

[code]

Swagger spec we generate now:

[code]

[2016-02-19 08:31] bajtos commented on #27
I asked @hideya to help us to implement this feature.

Where to start: https://github.com/strongloop/loopback-swagger/blob/master/lib/specgen/route-helper.js#L104-L111

1) convert each "returns" argument into a property description
2) register a new type with the properties from 1) - you already have access to "schemaBuilder" and "typeRegistry", just call the right methods. The type name should be

[2016-02-24 05:15] hideya commented on #27
@bajtos as a part of looking into a fix of this issue, I did a bit further investigation of swagger-codegen's `responses: schema:` handling.  What I figured out is that, for the case of server response `{ "count": 123 }`, if Swagger spec we generate had looked like the following:
[code]
`swagger-codegen` automatically generates a client-side model (class) to access this particular response object

[2016-02-24 08:40] bajtos commented on #27
Nice! I didn't realise we can specify the properties directly in response schema.

Yes please, let's do what you are proposing.

[2016-02-24 08:42] bajtos commented on #27
The swagger schema allows a `title` property, makes me wonder if we can leverage it to get a nicer client class name than `InlineResponse2001`? This is nice to have though.

[2016-02-24 10:11] hideya commented on #27
I'll try out `title` property quickly.  Since it could be tricky to give clean human friendly but unique name per return object.  In that case, I'll leave the class name as it is for now.

[2016-02-24 12:38] hideya commented on #27
@bajtos I quickly tried setting a `title` property, and found it doesn't have any effect against the generated code.  Keep working on the fix...

[2016-02-24 12:45] bajtos commented on #27
No problem, don't worry about the `title` then.

[2016-03-03 08:15] kasperg opened #29 "Support for includes in Swagger model"
I am working with a Loopback service with relations between the different models. We could use includes to optimize data retrieval but the Swagger specification for the models does not contain references to included models.

This becomes a problem when using tools like `swagger-api/swagger-codegen` to generate client libraries as these libraries cannot make use of the the includes.

It this someth

[2016-04-07 09:08] #27 closed

[2016-04-07 11:51] bajtos opened #34 "Support the new return arg type "file""
In https://github.com/strongloop/strong-remoting/pull/284, we added support for new return type "file":

[code]

Now we need to extend swagger-spec generator to support his new file and map it to swagger type "file".

Nice to have: support return arguments mapped as `http.target:header` too.

[2016-04-08 09:31] B-Stefan opened #35 "Change format of Date to Date-Time"
Hey everyone,

I have a little problem with the date property and would like to discuss the possible solutions for this.
Currently the loopback-swagger module generates the following output for a date property:

` properties:
      date:
        type: string
        format: date
`

The corresponding model (Android-Client) would look like this :

`java
  @SerializedName("date")
  private Date date

[2016-04-10 09:58] jskrzypek opened #36 "Routes don't properly handle accept params in the body with boolean types, which breaks swagger"
I've caught an error in how the rest connector interacts with the explorer that fails in a pretty bad way (i.e. hard to debug). I created an example repo here: https://github.com/jskrzypek/broken-rest-booleans.

On a separate note, looking at it again, I might be doing something wrong in how I'm building my rest connector operations.  I see now that the ui in the working case in my example is only

[2016-05-27 09:40] SandeshSarfare opened #40 "Can't see Host or Url in swagger.json 2.0 definition?"
I Have generated swagger.json 2.0 however I can not see any host config in JSON definition,
How do I get host config details in swagger.json or yaml ?

[2016-06-09 13:53] bajtos opened #43 "specgen: Incorrect representation of Buffer arguments"
Per https://github.com/strongloop/loopback/issues/1907, buffer arguments are encoded as `{ '$type': 'base64', '$data': 'MjM=' }`, see see [serialization](https://github.com/strongloop/strong-remoting/blob/e0846fe0f9d5480eb3e2ec5105b5fe6b4b7fa332/lib/shared-method.js#L548-L552) and [deserialization](https://github.com/strongloop/strong-remoting/blob/e0846fe0f9d5480eb3e2ec5105b5fe6b4b7fa332/lib/shar

[2016-06-09 14:03] bajtos commented on #43
The fix should take into account the difference between different encodings used by strong-remoting for method arguments and loopback-datasource-juggler for model properties.

[2016-06-09 20:14] richardpringle commented on #40
You'll have to put it in by hand for now my friend.

[2016-06-09 20:41] ritch opened #44 "Generated spec does not include methods defined after data source connection."
Here is an example:

https://github.ibm.com/asim-siddiqui/brazil-POC-Soap/blob/master/veloxCRM/server/boot/createSoapMethods.js#L60

We should look into either a work around for this style of defining remote methods or a change to this module and/or `loopback-boot` to allow us to generate the swagger for methods defined after the inital `boot()`.

@bajtos @raymondfeng

[2016-06-09 20:50] rblalock commented on #44
FWIW: I ran in to this same thing.  Here's another sample:  https://github.com/rblalock/lb-soap-example.

[2016-06-10 04:40] SandeshSarfare commented on #40
olrite....thanks @richardpringle :+1:

[2016-06-10 07:12] bajtos commented on #44
IIUC, you are asking us to include remote methods defined from `dataSource.on('connected')`.

[code]

Recently, we have intentionally modified swagger spec generator in APIC to not connect datasources.
This allows APIC to generate swagger spec even when a datasource is misconfigured or the backend service (database, SOAP server, etc.) is not available (temporary downtime, no access to production m

[2016-06-10 21:49] richardpringle commented on #29
@kasperg I think this is the right place!

[2016-06-14 12:33] bajtos opened #46 "Print warning for optional path parameters"
Path parameters (remote "accepts" arguments mapped with `{ http: { source: 'path' } }` are optional by default. At the moment, Swagger does not support optional path parameters (see https://github.com/OAI/OpenAPI-Specification/issues/93).

This constraint is not clear to novice users. When they create remote methods with path parameters and don't pay attention to the required flag, they will end u

[2016-06-14 23:19] rblalock commented on #44
@bajtos I'd love not have to use the "connected" event to define the models later.  I'm not sure why the soap connector requires us to do that but it does.  I'm still getting my head wrapped around loop backs architecture, I can think of several ways in the lifecycle of a connector to ensure this doesn't happen but it's just a matter of tweaking the connector lifecycle on boot.

[2016-06-15 11:04] bajtos commented on #44
This is the clue we needed, thank you! @raymondfeng do you happen to know more about this problem? I can see there is an closed issue https://github.com/strongloop/loopback-connector-soap/issues/17, should we re-open it?

[2016-06-15 15:16] raymondfeng commented on #44
At the moment, most of datasources are instantiated synchronously. In the case of SOAP, we need to load the WSDL asynchronously so that we can discover operations and map them to `DataAccessObject`. We need to change how datasources are loaded so that models will only attach to a datasource if it's initialized (asynchronously).

The proposed enhancement for `loopback-boot` at https://github.com/st

[2016-06-16 02:15] rblalock commented on #44
I like the async boot for all.  This makes a lot of sense especially if a connector dev wanted to generate models automatically off a schema (think sales force or some extended MySQL connector).

[2016-07-05 10:19] peeter-tomberg opened #48 "Cannot figure out how to define inline models for custom API endpoints"
Hello!

I'm trying to create a simple API endpoint that accepts 2 parameters, e.g:
POST /plan/compositeCreate
[code]

The closest I've gotten is:
[code]

The problem is, whenever I try to define an inline type, e.g.
[code]
It wont register the inline model in swagger. Somehow it'll show the "Plans" definition in the data field.
When I try to register 2 body args, swagger wont POST them to the back

[2016-07-25 09:25] azatoth opened #50 "accessToken included twice in curl commandline"
For example, the curl line for a given "Paths" model is shown here with two entries of the accessToken, and usually this makes the server not behave properly (can get crashes where userId is referenced, etc...)

[code]

[2016-08-04 15:42] pthieu opened #52 "schemes is `undefined`"
1. Create a LB app via APIC CLI i.e. `apic loopback`
2. Require `loopback-swagger` and try to `generateSwaggerSpec` on the app:

[code]

We get this result: https://gist.github.com/pthieu/d1d815b2cdb7c4a6327b4b4a08d06532

Check https://gist.github.com/pthieu/d1d815b2cdb7c4a6327b4b4a08d06532/6b65bbc92b4b0f2e3daa6d306a49ee2608d264f6 for `Revision 1`, looks like the file write omitted the `undefined`

[2016-08-04 15:58] pthieu commented on #52
/cc @sam-github

[2016-08-04 18:29] sam-github commented on #52
@bajtos we need scheme to be populated, because otherwise, tooling is forced to guess, and in the case of us pushing the loopback swagger to liberty, it always guesses HTTPS, because we push the swagger over HTTPS.

I suspect that this will need to interact with https://github.com/strongloop/loopback/issues/2182, because at the moment LoopBack wouldn't know if it is HTTP, HTTPS, or both. At a mini

[2016-08-05 09:25] bajtos commented on #52
Quoting from http://swagger.io/specification/#swaggerObject

We are intentionally not specifying `schemes` field to trigger the part *the default scheme to be used is the one used to access the Swagger definition itself.*

This is based on the assumption that the swagger doc will be served by the same LoopBack app providing the API, i.e. at the same base url (scheme+host+port(.

Now I totally agre

[2016-08-05 14:58] bajtos commented on #52
FWIW, here is our current docs on setting up HTTPS: https://docs.strongloop.com/display/LB/Preparing+for+deployment#Preparingfordeployment-UsingSSL

[2016-08-05 14:59] bajtos commented on #52
We need to update the docs (see comment above) and the HTTPS example app to add the following section to their `server/config.json`:

[code]

[2016-08-05 14:59] sam-github commented on #52
@crandmck @superkhau see above ----^

[2016-08-05 19:24] superkhau commented on #52
@sam-github PTAL https://github.com/strongloop/loopback-example-ssl/pull/14

[2016-08-11 17:54] richardpringle commented on #50
Hey @azatoth, I saw this behavior in the `[loopback-component-explorer](https://github.com/strongloop/loopback-component-explorer)`. If I am not mistaken, the issue should go in that repo, correct?

[2016-08-11 18:18] richardpringle commented on #48
@peeter-tomberg, the only supported types are the [LoopBack types](https://docs.strongloop.com/display/APIC/LoopBack+types). I've linked the documentation, please check that out.

I'm closing this issue for now but if you feel that it is not solved, please re-open it and mention me in a new comment. Feel free to carry on any conversation in the closed issue as well.

[2016-08-11 18:18] #48 closed

[2016-08-11 18:33] richardpringle commented on #36
Hey @jskrzypek,

I think the issue is your baseUrl for the rest1 datasource (configured in datasource.json).

loopback-connector-rest is meant for connecting to 3rd party REST services. You should have something that looks more like this: `https://maps.googleapis.com/maps/api/`.

I'm going to close the issue for now (since it took forever for us to get back to you) but please re-open it and mentio

[2016-08-11 18:33] #36 closed

[2016-08-11 19:50] azatoth commented on #50
@richardpringle Oh, I thought I reported it to the right project :/ my bad

[2016-08-11 19:50] #50 closed

[2016-08-11 22:14] crandmck commented on #52
Updated https://docs.strongloop.com/display/APIC/Preparing+for+deployment#Preparingfordeployment-Configuretheapp

[2016-08-15 19:27] richardpringle commented on #50
@azatoth, if you have done so already, please disregard this, but if not, could you please mention me in the new issue?

Cheers

[2016-10-05 10:32] Biax2099 opened #62 "StrongLoop API Explorer, do not show whole defition model in Data Type - Model Schema"
I have this model "Product.json":

[code]

My remote method:

[code]

Why in StrongLoop API Explorer i see this?

[
![untitled](https://cloud.githubusercontent.com/assets/22635402/19109901/aeb5c458-8af7-11e6-9646-2850a2ca959b.png)
](url)

The property "Brand" its so defined...

"Brand": [
      {
        "size": {
          "type": "Number"
        },
        "color" : {
          "type" : "String

[2016-10-10 20:26] Biax2099 commented on #62
Sorry, nobody of the admins can answer me? Thanks!

[2016-10-11 19:58] gunjpan commented on #62
@Biax2099 : Hi, apologies for a delayed reply. In your following code:
[code]

`Brand` property is defined as `Array of Objects` datatype, which would accept an array of objects, which is displayed correctly in `loopback-explorer`.

I believe, you're trying to expose `Brand` property as an object where you can manipulate values for `size` & `color` and is generic across all instances of the Model,

[2016-10-11 19:58] #62 closed

[2016-10-12 07:00] superkhau opened #65 "Export authSchemes and securityDefinitions"
_From @JonnyBGod on May 10, 2016 20:6_

We should be able to export auth specifications with swagger spec.

At least make it easy to hardcode it in options.

_Copied from original issue: strongloop/loopback-component-explorer#162_

[2016-10-12 07:00] superkhau commented on #65
_From @JonnyBGod on May 10, 2016 20:9_

It would be perfect if it was possible to easily integrate with loopback-component-oauth2

[2016-10-12 07:00] superkhau commented on #65
_From @richardpringle on August 11, 2016 19:1_

@JonnyBGod, should this be in [loopback-swagger/issues](https://github.com/strongloop/loopback-swagger/issues)?

[2016-10-12 07:00] superkhau commented on #65
_From @gunjpan on October 11, 2016 20:10_

@JonnyBGod : Could you please post this issue in the correct place as shown above?
Also, a sample/example to understand what you're proposing will definitely help within the description.
Closing this now. Thank you and have a great day!

[2016-10-12 07:00] superkhau commented on #65
@JonnyBGod I'm going to help move this issue over to the repo mentioned by @gunjpan and @richardpringle. Please add a better description of your issue there. I'll add a template you can edit there.

[2016-10-12 07:01] superkhau commented on #65
@JonnyBGod

[code]

[2016-10-18 03:08] taoyuan opened #67 "Some of the relation api parameters are out of sequence"
For `/xxxxxx/:id/yyyyyy/:fk` like api, the parameters's sequence is something like:

[code]

It should show like this:

[code]

And also in swagger.josn generated, the order of parameters is also wrong.

[2016-10-18 07:18] Biax2099 commented on #62
Hi @gunjpan, thank you so much for your answer!

I can ask you if is possible to declare a prototype to function TypeRegistry in ..\node_modules\loopback-component-explorer\node_modules\loopback-swagger\lib\specgen\type-registry.js ?

[2016-10-18 13:04] gunjpan commented on #62
@Biax2099 : Sorry, I didn't get your question. Could you please explain a bit more.

FYI: `specgen` adheres to Open API specification a.k.a. Swagger specification (read more about it [here](http://swagger.io/specification/)).

[2016-10-18 14:01] Biax2099 commented on #62
Hi @gunjpan, sorry i try to explaning better. If I would to record a custom json schema (not x-any, ObjectID, GeoPoint and Loopback Model) using `specgen`, how i can? Its possible?
Thanks!

[2016-10-18 15:32] JonnyBGod commented on #65
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)

The lib should generate swagger 2 Security Definitions Object. http://swagger.io/specification/#securityDefinitionsObject

This would enable the usage of proper authentication in swagger generated documentation pages such as http://petstore.swagger.io/. (check "Authorize" button)

[2016-10-18 15:34] JonnyBGod commented on #65
I believe the easiest way to configure this would be to enable the developer to configure the spec in ```config.json``` and export it.

[2016-10-22 15:41] roberto-paes commented on #10
One year old very basic bug :-1:

[2016-11-02 20:22] bajtos commented on #52
Looks like this issue has been fixed, I am closing it now. Feel free to comment and/or reopen if you disagree.

[2016-11-02 20:22] #52 closed

[2016-11-30 22:55] Amir-61 commented on #67
Connect to https://github.com/strongloop/loopback-swagger/pull/66

Thanks for this enhancement; it seems https://github.com/strongloop/loopback-swagger/pull/66 is missing some test cases; could you please add tests, please ping me once you added, so I can get it landed.

Thanks

[2016-12-01 07:09] taoyuan commented on #67
@Amir-61 I have added test for #66

[2016-12-01 20:20] Amir-61 commented on #67
@taoyuan Thanks for contribution! I left some minor comments; please fix them and ping me there :-)

[2016-12-15 03:31] wing328 opened #75 "Swagger Petstore example (spec 1.2) missing store.json"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

The Swagger Petstore example (spec 1.2) seems to be broken: https://github.com/strongloop/loopback-swagger/tree/master/example/specs/1.2

It's missing `store.json` as referenced in `pet-store.json`: https://github.com/strongloop/loopback-swagger/blob/master/example/specs/1.2/pet-

[2016-12-16 10:43] bajtos commented on #44
I think this is a good use case to drive the implementation. I am labelling this issue as "Feature".

[2016-12-21 16:37] bajtos opened #78 "Update eslint config to latest to enable ES6"
See https://github.com/strongloop/loopback-swagger/pull/77#issuecomment-268568059 by @doublemarked

We should update eslint-config-loopback to the latest version and fix any linter errors reported after upgrade.

cc @strongloop/squad-epitome

[2017-01-03 19:45] #67 closed

[2017-01-03 19:51] Amir-61 commented on #75
Hey @wing328

Thanks for bringing this to our attention; would you like to submit a patch to fix this example?

[2017-01-08 09:31] microSoftware opened #80 "Error when desactivating Explorer"
- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Edit in component-config.json :
[code]

### Expected result

Disable the /explorer

### Actual result (if bug)

And got this error when I run the server :
[code]

### Additional information (Node.js version, LoopBack version, etc)
strongloop v6.0.3 (node v7.2.1)
├── strong-arc@1.8.9 (3dd25ac)
├── strong-bui

[2017-01-13 06:50] roytan883 commented on #10
@superkhau @0candy
yes, i just use loopback swagger, still have this problem.
**$ref is very basic feature of swagger, sadly loopback swagger not support it.**

[2017-03-27 14:24] DAVIDFlavien commented on #65
Hey there,

Is someone able to tell me if this feature is coming soon cause I need to find a way to expose my scopes required for each method in my swagger.json ? If no, do you have another way to expose the scope in the swagger.json ?

[2017-04-05 19:00] drmikecrowe commented on #65
I have a work-in-progress that supports this (for my application).  Still needs automated tests, but the results work perfectly in http://editor.swagger.io/#!/

https://github.com/drmikecrowe/loopback-swagger

[2017-06-07 13:20] bajtos commented on #80
This has been fixed by https://github.com/strongloop/loopback-boot/pull/168.

[2017-06-07 13:20] #80 closed

[2017-06-08 16:29] #78 closed

[2017-08-14 23:25] zbarbuto opened #94 "File type does not correctly upload the file"
Related: #34 #90

# Description/Steps to reproduce

#90 added support for the file type. While the swagger UI generated does now provide the file input type there are two issues:

1. The consumes array for the endpoint does not contain `multipart-formdata` for file endpoints:
https://github.com/strongloop/loopback-swagger/blob/6fdaae8a4dfb8c685a1ed76b1173c933ffeceed2/lib/specgen/route-helper.js#L2

[2017-08-14 23:26] zbarbuto commented on #94
Repo maintainers: feel free to assign this issue to me. As I added the feature I'm willing to investigate this issue further and fix.

[2017-08-22 15:26] Cooker-Monster opened #96 "From $ref: '#/definitions/ (Swagger specification) to "relations": {} (Loopback model)"
Tricky topic I presume concerning Models Relations management shared by Swagger Spec & Loopback Model.

It seems that relations into loopback json model are not generated by $ref declared into Swagger model when "lb swagger ...' cli is used.

Maybe a workaround already exists?

[2017-08-22 17:27] raymondfeng commented on #96
@rashmihunt Can you look into this? I think we need to use [swagger-parser](https://github.com/BigstickCarpet/swagger-parser) module to load the swagger spec with `$ref` and deference such pointers to build the full spec object,

[2017-08-24 09:20] sebastianhaas commented on #65
Still an important issue for me to be resolved.

[2017-09-05 20:57] rashmihunt opened #100 "Deprecate loopback-swagger@4.2.0 and release 5.0.0"
loopback-swagger v4.2.0 introduced a major change in loopback-swagger where it generates operation scoped models. Original issue why this was done is here ->  https://github.com/strongloop/loopback/issues/2924 and the loopback-swagger PR for this feature is here ->  https://github.com/strongloop/loopback-swagger/pull/92. Ideally this should have been released as loopback-swagger major version 5.0.

[2017-09-05 21:55] rashmihunt commented on #100
Done releasing 5.0.0 and 4.3.0 and deprecating 4.2.0. Closing the issue.

[2017-09-05 21:55] #100 closed

[2017-09-06 14:34] #34 closed

[2017-09-06 14:34] #40 closed

[2017-09-06 14:34] #43 closed

[2017-09-06 14:34] #44 closed

[2017-09-06 14:34] #46 closed

[2017-09-06 14:34] #75 closed

[2017-09-06 14:36] wing328 commented on #75
@Amir-61 can you please review my PR (#97) to add back the missing store.json?

[2017-09-06 15:00] Amir-61 commented on #75
@wing328 I'm not on LoopBack projects anymore... But I try to unblock it and get it landed.

[2017-09-08 18:34] damiantw opened #101 "Generated swagger.json has incorrect types for foreign key parameters."
I have a simple relationship between a district and a district_student. district hasMany district_students, district_students belongTo district.

district.json
[code]

district_student.json
[code]

The explorer swagger.json includes the following for the  "/district/{id}/student/{fk}" paths.

[code]

The type of all "fk" paramters should be number because that is the type of district_student's pri

[2017-09-10 06:39] ram33 opened #102 "Ability to generate specs for specific models"
Current loopback-component-explorer is good. But we have whole bunch of routes and dont want expose them all.

What we want is to expose routes only for specific models to our API’s users via different endpoints. Currently, there seems no option to generate spec for specific model via generateSwaggerSpec method.

Is it feasible to do so? If not, are there any alternatives to achieve this?

[2017-09-12 15:29] bajtos commented on #65
According to https://github.com/strongloop/loopback-component-explorer/pull/209#issuecomment-328522783, we need to support authorization metadata in order to be able to use the latest version of Swagger UI.

[2017-10-12 14:07] agung-wete opened #105 "Swagger: skipping unknown type "$new_AccessToken"."
Maybe its the right place for issue https://github.com/strongloop/loopback/issues/3615 ?

[2017-10-15 21:29] zbarbuto commented on #94
Is still something that needs fixing.

[2017-10-20 00:50] jcurlier commented on #105
Same issue

[2017-10-27 06:17] zbarbuto commented on #102
This functionality already exists. In your model-config do something like this (exposes only the `GET /` endpoint on your customer model):

[code]

See here: https://github.com/strongloop/loopback/pull/3504

[2017-10-27 06:40] ram33 commented on #102
@zbarbuto Thank you for you response. But we have slightly different requirement than your example above. We need to expose all model routes, but different endpoint for each model. Letz say we have three models (customer, order and address). We would want to show routes for each model via different endpoint something like below.

domain.com/explorer/customer
domain.com/explorer/order

[2017-10-27 06:41] zbarbuto commented on #102
Ah, my mistake. You mean mounting multiple explorers, one for each model 👌

[2017-10-27 06:42] ram33 commented on #102
yes, exactly

[2017-10-27 13:10] #94 closed

[2017-11-04 19:00] #96 closed

[2017-11-20 10:07] waytoharish opened #111 "apic loopback:swagger not working with valid Swagger"
I am facing this issue when try to use apic loopback:swagger with valid Swagger file.

[2017-11-20 18:07] raymondfeng commented on #111
Please post your swagger here.

[2017-11-22 10:29] waytoharish commented on #111
Still not working after pulling fix

[2017-11-22 10:30] waytoharish commented on #111
![error](https://user-images.githubusercontent.com/5119613/33122790-38cb72d2-cf9e-11e7-8677-cfd0a8ebc9c1.png)

[2017-11-22 10:53] waytoharish commented on #111
[account-info-swagger.txt](https://github.com/strongloop/loopback-swagger/files/1495619/account-info-swagger.txt)

[2017-11-22 15:37] raymondfeng commented on #111
I don’t think the fix will be picked up by apic automatically. Can you try the following?

[code]

[2017-11-23 06:44] waytoharish commented on #111
C:\Users\HarishSharma\testmyswagger>lb swagger
? Enter the swagger spec url or file path: C:\Harish\DIP\APIFramework-master\APIFramework-master\Node\account-info-swagger.yaml
Loading C:\Harish\DIP\APIFramework-master\APIFramework-master\Node\account-info-swagger.yaml...
C:\nodejs\node_modules\npm\node_modules\loopback-cli\node_modules\loopback-swagger\lib\codegen\generator-base.js:91
    if (!defi

[2017-11-23 15:31] dhmlau commented on #111
@waytoharish , could you please run the following command so that we know the LB related module versions?
[code]

[2017-11-23 15:57] raymondfeng commented on #111
Sorry the fix is not picked up by `loopback-cli` yet. See:

[code]

@dhmlau Can you upgrade to `loopback-swagger@^5.4.0` in `generator-loopback` and create new release of `generator-loopback`?

[2017-11-23 16:00] dhmlau commented on #111
@raymondfeng , will do.

[2017-11-23 16:57] dhmlau commented on #111
Fix is released:
`loopback-swagger@5.4.0`
`generator-loopback@5.2.0`

@waytoharish , could you please verify?

[2017-11-27 07:28] waytoharish commented on #111
Done running LoopBack generator

Updating swagger and product definitions
Error: The LoopBack application is not loaded.
Cannot load the LoopBack application: Unexpected identifier
Please fix the problem and run `apic loopback:refresh`

C:\Users\HarishSharma\testloopback>lb swagger
? Enter the swagger spec url or file path: C:\Harish\DIP\account-info-swagger.yaml
Loading C:\Harish\DIP\account-info

[2017-11-27 07:45] waytoharish commented on #111
C:\Users\HarishSharma\testloopback>npm ls -g generator-loopback
npm@3.10.10 C:\nodejs\node_modules\npm
`-- generator-loopback@5.2.0  extraneous

npm ERR! extraneous: generator-loopback@5.2.0 C:\nodejs\node_modules\npm\node_modules\generator-loopback

[2017-11-27 16:03] dhmlau commented on #111
@waytoharish , please make sure you've reinstalled `loopback-cli`.  I've tried the following steps myself and it seems to work fine:

1. uninstall loopback-cli
`npm uninstall -g loopback-cli`
2. reinstall loopback-cli
`npm i -g loopback-cli`

3. Run `npm ls -g loopback-swagger`
The output should be something like:
[code]

4. Run `lb swagger`

My output is:
[code]

[2017-11-28 11:34] waytoharish commented on #111
Hi ,
I have followed same step mentioned by you- and now getting -
C:\Users\HarishSharma\testloopback>npm ls -g loopback-swagger
npm@3.10.10 C:\nodejs\node_modules\npm
`-- loopback-swagger@5.4.0  extraneous

npm ERR! extraneous: loopback-swagger@5.4.0 C:\nodejs\node_modules\npm\node_modules\loopback-swagger

[2017-11-28 20:47] dhmlau commented on #111
@waytoharish , were you able to run the `lb swagger` command?
I'm seeing a different output as you.  I've also tried to install `loopback-swagger` globally, but didn't get the same error as you.

[code]

@raymondfeng , do you think we need to update `microgateway` dependency too?

[2017-11-29 09:50] waytoharish commented on #111
Hi,
I followed the step you had mentioned but no luck.

[2017-12-06 19:14] dhmlau commented on #111
@raymondfeng , any ideas?  I could run the `lb swagger` command, although I got some error when doing `npm ls -g loopback-swagger`.

[2017-12-07 17:10] dhmlau commented on #111
@waytoharish , if you run `lb swagger`, could you please show us the output?

[2017-12-13 15:38] dhmlau commented on #111
Talked to @waytoharish.  It was working fine when using `lb swagger`, but not `apic loopback:swagger` command.

[2017-12-13 20:58] dhmlau commented on #111
Talked to @waytoharish directly.  Closing this because it is not related to loopback modules but apiconnect node modules.

[2017-12-13 20:58] #111 closed

[2017-12-21 07:20] #105 closed

[2018-01-09 07:46] #102 closed

[2018-01-10 14:42] eisverticker commented on #34
the _file_ loopback type is still not documented and the loopback-cli does not support that type either

[2018-01-12 14:21] bajtos commented on #34
A status update/summary for anybody discovering this issue (cc @eisverticker @bschrammIBM). As I understand it, our support for "file" type is partial only.

At the side of remote method output ("returns" arguments):
 - https://github.com/strongloop/strong-remoting/pull/284 modified our runtime to allow remote methods to return a single "file" type argument that's mapped to the response body.
 - l

[2018-01-25 16:31] drmikecrowe commented on #65
Continuing my OAuth2 work:

- [loopback-component-explorer](https://github.com/drmikecrowe/loopback-component-explorer)
- [loopback-swagger](https://github.com/drmikecrowe/loopback-swagger)

I created tasks on each of what is left open (as far as I can see).  This is definitely targeting Loopback 2/3 projects, and working in an OAuth2 application we've rolled out.

[2018-02-27 20:38] STRML commented on #65
@drmikecrowe Would you be willing to make a PR from the mergeable parts of exporting `security` and `securityDefinitions` (I see some work from @mike-zipit there in your branch) - this will help us get this throug.

[2018-02-28 14:05] drmikecrowe commented on #65
@STRML -- Will do.  BTW, mike-zipit is my work account, so the PR will come from that fork.

[2018-03-21 06:03] MJKhan90 opened #117 "Reserved Words issue"
I am currently facing an issue while defining schema definition for open API using Swagger where i am not able to use TEMPLATE keyword word for parameter in schema.

| Q                                   | A
| ----------------------------------- | -------
| Bug or feature request?             |  feature request
| Which Swagger/OpenAPI version?      | Swagger 2.0 Loopback API
| Which Swagger-Editor

[2018-05-17 06:35] jeemok opened #120 "NSP Vulnerability Prototype Pollution"
NSP has reported a Prototype Pollution security vulnerability for lodash library on all version below 4.17.5.

More info: https://nodesecurity.io/advisories/577

Currently loopback-swagger v3.x uses lodash v3.x. Is it possible to update the lodash to v4.x?

[2018-05-25 20:43] dhmlau commented on #120
@jeemok, would you like to submit a PR against the `3.x` branch?

[2018-05-30 08:01] bajtos commented on #120
I have published the fix from #121 as `loopback-swagger@3.0.3`.

[2018-05-30 08:01] #120 closed

[2018-06-03 06:17] #117 closed

[2018-06-13 15:12] jonathanwoahn opened #122 "Possible to include swagger project description?"
I'd like to include a project overview description into the generation of the swagger docs. The default swagger UI template included with the component explorer supports it, but so far as I can tell, it doesn't seem like this library supports it. Am I missing something?

[2018-07-06 17:36] Danwakeem opened #125 "Model types are converted to"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2018-07-06 17:42] #125 closed

[2018-07-06 17:58] Danwakeem opened #126 "Model types are converted to "object" unless they are set as root"
# Description/Steps to reproduce
When a model is registered with the loopback type registry and it is referenced as a return type in a remote method it is being converted to a "object" model rather than being set as a reference definition.

# Link to reproduction sandbox
[loopback-model-sandbox](https://github.com/Danwakeem/loopback-model-sandbox)

# Expected result

[code]

## Actual result
[code

[2018-07-10 12:34] #126 closed

[2018-07-17 15:36] parveshh opened #129 "Request timeout"
How can we define request timeout when using the loopback swagger? i am facing some ECONNRESET errors in remote calls and could not find a way to increase the timeout.

Thanks

[2018-08-02 02:35] yshing opened #130 "Incorrect swagger.json generated for return values having a http.target set to header or status"
# Description/Steps to reproduce
Step to reproduce:
The example from loopback doc.
https://loopback.io/doc/en/lb3/Remote-methods.html#argument-descriptions
[code]

# Cause in source code
Comparing the `convertReturnsToSwagger` function [source code](https://sourcegraph.com/github.com/strongloop/loopback-swagger/-/blob/lib/specgen/route-helper.js#L122-155) to `convertAcceptsToSwagger` function [sou

[2018-08-09 21:24] dhmlau commented on #130
@hacksparrow , could you PTAL? thanks.

[2018-11-08 08:37] lukhanhduy opened #134 "Warning: detected multiple remote methods at the same HTTP endpoint. Swagger operation ids will NOT be unique."
Hello i have problem  when i import another model and call function in this model.
Ex:
`let a= new a(app.models.a);
 a.doFunction()....
`
In log i received response :
 Warning: detected multiple remote methods at the same HTTP endpoint. Swagger operation ids will NOT be unique.
what is it ? how i can disable it ?
Thank you for support

[2019-01-07 15:39] #130 closed

[2019-10-01 18:26] #122 closed

[2019-10-01 18:26] #129 closed

[2019-10-01 18:26] #134 closed

[2020-01-30 14:44] dhmlau commented on #29
Reopening as there's a PR in progress.

[2020-04-13 15:38] #29 closed

[2020-04-28 13:55] bajtos commented on #65
Closing as stale.

[2020-04-28 13:55] #65 closed

[2020-04-28 13:56] bajtos commented on #10
Closing as stale.

[2020-04-28 13:56] #10 closed

[2020-05-21 13:40] mvertopoulos opened #146 "Authentication specs in generated swagger.json file"
# Description/Steps to reproduce

I would like to work on adding the **Authentication** part of the **specgen** library by following the [relevant specification](https://swagger.io/docs/specification/2-0/authentication/) for Swagger 2.0.

I could use some information / guidance on what would be a valid [securityDefinitions](https://swagger.io/specification/v2/#security-definitions-object) object,

[2020-08-08 07:23] #146 closed, assigned to nobody